
@{
    ViewBag.Title = "Home";
   
}

<div class="content">
    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-accent card-header-icon">
                            <div class="card-icon " rel="tooltip" data-placement="top" title="Esta es tu venta total del día hasta ahora."> <i class="material-icons">shop_two</i></div>
                            <p class="card-category">VENTA DE HOY</p>
                            <h3 class="card-title">$0.00</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats"> <i class="material-icons">visibility</i> <a href="#" class="load-ring">Ver Mas</a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-dark card-header-icon">
                            <div class="card-icon" rel="tooltip" data-placement="top" title="Te presentamos el producto más vendido el día de hoy."> <i class="material-icons">fastfood</i> </div>
                            <p class="card-category">PRODUCTO MAS VENDIDO</p>
                            <p class="card-category"><b class="text-accent">El nombre del producto</b></p>
                            <h3 class="card-title">$0.00</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats"> <i class="material-icons">visibility</i> <a href="#" class="load-ring">Ver Mas</a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-accent card-header-icon">
                            <div class="card-icon" rel="tooltip" data-placement="top" title="Estos son tus tickects totales del día de hoy."> <i class="material-icons">bookmarks</i> </div>
                            <p class="card-category">TICKETS TOTAL</p>
                            <h3 class="card-title">0</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats"> <i class="material-icons">visibility</i> <a href="#" class="load-ring">Ver Mas</a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-dark card-header-icon">
                            <div class="card-icon" rel="tooltip" data-placement="top" title="Este es tu tickect promedio en el día de hoy"> <i class="fa fa-ticket"></i> </div>
                            <p class="card-category">TICKET PROMEDIO</p>
                            <h3 class="card-title">$0.00</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats"> <i class="material-icons">visibility</i> <a href="#" class="load-ring">Ver Mas</a> </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card">
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
